[
{
"individual_class": "SphereIndividual",
"individual_kwargs": {"size": 10},
"population_class": "BasicPopulation",
"population_size": 20,
"max_generations_number": 20
},
{
"individual_class": "SphereAggregatedIndividual",
"individual_kwargs": {"size": 10},
"population_class": "MediumPopulation",
"population_size": 20,
"max_generations_number": 20
}
]